version: "3.9"

services:
  web:
    image: nginx:alpine
    ports:
      - "8083:80"
    depends_on:
      - db
    networks:
      - app-net

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: devops
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_DB: devopsdb
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

